// Font
$font-white: #fff;
$font-dark: #000;
$font-grey: #a2a2a2;
$font-title : #664986;

// Background
$background-auth: #534292;
$background-white: #fff;
$background-grey-light: #fafafa;
$background-action: #60467e;

// Border
$border-grey: #dbdbdb;
$border-dark: #000;

// Event
$primary: #0095f6;
$danger: #ed4956;
